# external-db-svc.yml
apiVersion: v1
kind: Service
metadata:
  name: external-db-svc
  namespace: default
spec:
  ports:
    - port: 3306
      targetPort: 3306
  clusterIP: None
---
apiVersion: v1
kind: Endpoints
metadata:
  name: external-db-svc
  namespace: default
subsets:
  - addresses:
      - ip: 172.20.10.3
    ports:
      - port: 3306
